<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/head :: head(title = 'I.R.I.S. Add Blog Page', includeMetaForIndexing = false)}"></th:block>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const charInput = document.getElementById('charInput');
            const charCount = document.getElementById('charCount');

            charInput.addEventListener('input', function() {
                const currentLength = charInput.value.length;
                charCount.textContent = currentLength + '/1024 Zeichen';
            });
        });
    </script>
</head>
<body>
<header>
    <th:block th:insert="~{fragments/header :: header(title = 'I.R.I.S. Add New Blog')}"></th:block>
</header>
<main>
    <section>
        <form th:action="@{/admin/add-blog}" method="post">
            <label>
                <input type="text" name="title" placeholder="Title" required>
            </label>
            <br>
            <label>
                <input type="text" name="imageUrl" placeholder="Image URL (optional, z.B. /Pictures/image.jpg)">
            </label>
            <br>
            <label>
                <textarea name="content" rows="8" cols="50" placeholder="Text" id="charInput" maxlength="1024" required></textarea>
                <span id="charCount">0/1024 Zeichen</span>
            </label>
            <br>
            <button type="submit" class="submit-button">Add Blog</button>
        </form>
    </section>
</main>
</body>
</html>
