<th:block th:fragment="head(title, includeMetaForIndexing)">
    <meta charset="UTF-8">

    <th:block th:if="${includeMetaForIndexing}">
        <meta name="description" content="Wir sind eine Deutschsprachige Star Citizen Organisation namens I.R.I.S. unsere Hauptgebiete sind Bodenkampf, Logistik und Luftbereich Sicherung. ">
        <meta name="keywords" content="Star Citizen, I.R.I.S., Organization, Gaming,
                                    Star, Citizen, sc, StarCitizen, Roberts Space Industries,
                                    RSI, FPS, salvage, mining, exploration, trading, bounty hunting,
                                    security, transport, roleplay, roleplaying, role-play, role">
        <meta name="author" content="I.R.I.S.">
        <meta name="robots" content="index, follow">

        <meta property="og:title" content="I.R.I.S.">
        <meta property="og:description" content="Star citizen organization">
        <meta property="og:image" content="https://iris-organization.org/IRIS_logo.png">
        <meta property="og:url" content="https://iris-organization.org">
    </th:block>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title} ?: 'I.R.I.S.'"></title>
    <link rel="icon" type="image/png" sizes="32x32" href="/Pictures/favicon.png">
    <link rel="stylesheet" href="/style.css">
    <script th:src="@{/js/theme-switcher.js}" defer></script>
    <script th:src="@{/js/menu.js}" defer></script>
    <script>
        if(localStorage.getItem('theme') === 'dark') {
        document.documentElement.setAttribute('data-theme', 'dark');
        }
    </script>
</th:block>
