<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/head :: head(title = 'I.R.I.S. Blog', includeMetaForIndexing = true)}"></th:block>
</head>
<body>
<header>
    <th:block th:insert="~{fragments/header :: header(title = 'I.R.I.S. Blog')}"></th:block>
</header>
<main>
    <section class="section">
        <h2>Willkommen auf unserem Blog</h2>
        <p>Hier steht alles, was in letzter Zeit passiert ist.</p>
    </section>
    <section th:each="blog : ${blogs}" class="section blog-card">
        <div th:if="${blog.imageUrl}" class="blog-image">
            <img th:src="${blog.imageUrl}" th:alt="${blog.title}" style="width: 100%; height: 250px; object-fit: cover; border-radius: 8px; margin-bottom: 1rem;">
        </div>
        <h2 th:text="${blog.title}"></h2>
        <p th:utext="${blog.content}" style ="white-space: pre-wrap;"></p>
        <small th:text="${#temporals.format(blog.timestamp, 'dd.MM.yyyy')}" class="timestamp"></small>
    </section>
</main>
<footer>
</footer>
<div class="contact-box">
    <a th:href="@{/contact}" class="button">Kontakt</a>
</div>
</body>
</html>
